[Unit]
Description=ALSA Volume Control from USB HID Consumer Control

[Service]
Type=simple
ExecStart=%VENV_PATH%/bin/python3 %TARGET_PY% %ARGS%
Restart=on-failure

[Install]
WantedBy=default.target